body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

.container {
  break-inside: avoid;
}


/* main style */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

/* main_content style */

.main_content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px 105px 90px;
}

/* about style */

.about {
  margin-bottom: 40px;
}

/* about_title style*/

.about_position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

/* about_user style*/

.about_name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

/* about_description style */

.about_description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

/* .projects style */

.projects {
  margin-bottom: 50px;
}

/* .projects_title  style*/

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.projects_item,
.projects_bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project,
.projects_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.projects_link {
  margin-left: 10px;
}

.projects_list {
  padding: 0px;
  margin-left: 15px;
}

.work {
  margin-bottom: 45px;
}

.work_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work_list {
  padding: 0px;
  margin-left: 15px;
}

.work_list_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.work_period,
.education_period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

/* education style */

.educat_institut {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.educational_special {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
}

/* sidebar style */

.sidebar {
  break-inside: avoid;
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}

/* photo style */

.photo {
  width: 370px;
  margin-bottom: 50px;
}

/* sidebar_title style */

.sidebar_title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contacts,
.tech_skills,
.soft_skills {
  margin-left: 40px;
}

/* contacts style */

.contacts {
  margin-bottom: 50px;
}

.tech_skills,
.soft_skills {
  margin-bottom: 45px;
}

/* contact_type style */

.contact_type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}

/* contact_link style */

.contact_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}

/* tech_skills_list and soft_skills_list style */

.tech_skills_list,
.soft_skills_list {
  color: #ffffff;
  padding: 0px;
  margin-left: 18px;
}

/* tech_skills_item and soft_skills_list style */

.tech_skills_item,
.soft_skills_item {
  color: #fb6d3a;
}

/* tech_skills_text and soft_skills_list style */

.tech_skills_text,
.soft_skills_text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
